streamlit==1.35.0
tensorflow==2.20.0
protobuf==3.20.3
yfinance
pandas
numpy
pandas-ta==0.3.14b0
rich<14
tensorflow
matplotlib
plotly
streamlit
requests
beautifulsoup4
textblob
vaderSentiment
joblib
schedule
